<html>

<head>
	<title>String formatter</title>
</head>

<body>
	<p><a href="/form">HOME</a></p>
	
	<p>
		<form method="post" action="#" th:action="@{/form}" th:object="${form}">
			Character limit per line:<br/>
			<input type="text" id="length" name="length" size="10"/><br/>

			Justify text ?<br/>
			<input type="checkbox" id="justify" name="justify" /><br/>
			
			Paste your text here:<br/>
			<textarea rows="5" cols="50" id="content" name="content"></textarea><br/>
			
			<input type="submit" />
		</form>
	</p>
</body>

</html>